asttokens
backcall
charset-normalizer
cycler
dataclasses
debugpy
decorator
executing
fonttools
idna
ipykernel
ipython
jedi
jupyter-client
jupyter-core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
opencv-python
packaging
pandas==1.5.3
numpy~=1.20.3
parso
pickleshare
Pillow
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
requests
scipy
seaborn
six
stack-data
thop
tornado
tqdm
traitlets
typing-extensions
urllib3
wcwidth
tensorboard==
# pip install torch==1.11+cu113 torchvision==0.12+cu113 torchaudio==0.11 --extra-index-url https://download.pytorch.org/whl/cu113